@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');


:root{
--primary-color:#887D77;
--secondary-color:#C6C1BE;
--text-color:white;
--button-background-color:#423129;
}

body{
    background-color:white;
    letter-spacing: 1px;
}
.main-container{
    background-color:var(--secondary-color) ;
    border-radius: 0.5rem;
    padding:1.5rem 1.3rem 1.5rem 1.3rem;
}

.navigation{
background-color:var(--primary-color);
color:var(--text-color);
font-family: 'Heebo', sans-serif;

}

.container{
    padding-top:2.5rem;
    padding-left:1.5rem;
    border-radius: 0.8rem;
}

.navigation .nav-brand{
    font-weight:bold;
    
    padding-bottom:1rem;
   
}


.navigation .first-pill{
    text-align: right;
    margin-left: 45%;
    
    
}
.navigation .nav-pills{
    text-align: right;
   
   
}

.navigation a{
    border-radius: 1.5rem;
    background-color: transparent;
    color:var(--text-color);
    text-decoration: none;
    padding:0.4rem 1rem;
    margin-left:auto;
    margin-right:20px;
  
}

.navigation a:hover{
    background-color: var(--text-color);
    color:var(--primary-color);
}



.list-non-bullet{
    list-style:none;
}

.list-item-inline{
    display:inline;
    padding:0rem 1rem 1rem 1rem;
}